@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
#button{
    width: 180px;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
}
.banner-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    text-align: center;
    font-family:Azeret mono;
}

 #heading{
    font-weight: 700;
    font-size: 50px;
    
       
 }

  #para{
    margin: 24px 400px;
    
 }
 #btn{
    width: 230px;
    height: 50px;
        border-radius: 10px;
background-color: black;
color: white;
font-size: 20px;
 }
 .development-header{
    width: 1140px;
    height: 1050px;
    margin:75px auto;
    text-align: center;
    padding: 80px 100px;
    font-family:Azeret mono;
    background-color: rgba(13, 19, 33, 0.02)
   
 }
 .development-title-0{
    text-align: center;
    
 }
 .development-title{
    margin-bottom: 20px;
 }
 .development-description{
    margin-bottom: 20px;
 }
 .development-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    width: 470;
    height: 210px;
    padding: 40px;
 }
 .developmet-colum-1{
    display: flex;
    justify-content: space-around;
    /* width: 950px;
    height: 340px; */
    gap: 100px;
 }
 .developmet-colum-2{
    display: flex;
    gap: 25px;
    margin-top: 30px;
    /* width: 950px;
    height: 350px; */

 }
 .developmet-colum-3{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* width: 950px;
    height: 350px; */
    gap: 50px;

 }
 .development-btn{
    width: 140px;
    height: 35px; 
    margin-left: 150px;
    

 }
 .not{
 margin-left: 40px;
 }
 #h2{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
 }
 .luck{
    color: #0D1321;
 }
 .inspiration{
    width: 1140px;
    /* height: 750px; */
    margin: 80px auto;
    

 }
 .inspiration-title{
    text-align: center;
    padding: 0px 145px 50px 145px;
 }
 .inspiration-description{
    text-align: center;
    border: 2px solid rgba(13, 19, 33, 0.2);
    width: 1140px;
    height: 600px;
    padding:30px;
    border-radius: 10px;
 }
 
.benefit{
    width: 1140px;
    height: 600px;
}
.text-center{
   text-align: center;
}
.skills{
   width: 1140px;
   margin: 80px auto;
   
}
.skill-container{
   display: flex;
   gap: 30px;
   margin-top: 40px;
   /* padding: 20px; */

}
a{
   color: #0D1321;
}
.section-title{
   font-weight: 700;
   font-size: 32px;
}
.skill-1 {
   background-color: rgba(255, 76, 30, 0.05);
   padding: 20px 20px 20px 20px;
   border-radius: 10px;
}
.skill-2{
   background-color: rgba(0, 76, 232, 0.05);
   border-radius: 10px;
   padding: 20px 20px 20px 20px;
}
.skill-3{
   background-color: rgba(255, 223, 0, 0.05);
   border-radius: 10px;
   padding: 20px 20px 20px 20px;
}